@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 0;
}
.head_canvas {
    background-position: top;
    height: 400px;
    background-size: cover;
}
.content {
    background-color: #fafafa;
    color: black;
}
.userpic {
    height: 150px;
    width: 150px;
    background-size: cover;
    border-radius: 100px;
    background-position: center;
    border: 3px solid black;
}
.botnav {
    padding: 20px 0;
    color: black;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}
.description {
    margin-top: 25px;
}
.user_name {
    font-weight: 800;
}

/* modal window  */
.profileEditWin {
    max-width: 700px;
    background-color: #f1f1f1;
    top: 10%; /* отступ сверху */
    right: 0;
    left: 0;
    font-size: 14px;
    margin: 0 auto;
    z-index: 2; /* поверх всех */
    display: none; /* сначала невидим */
    position: fixed; /* фиксированное позиционирование, окно стабильно при прокрутке */
    border-radius: 15px;
}
.newPostWin, .newPostReportWin {
    padding-left: 40px;
    max-width: 800px;
    background-color: #fafafa;
    top: 10%; /* отступ сверху */
    right: 0;
    left: 0;
    font-size: 14px;
    margin: 0 auto;
    z-index: 2; /* поверх всех */
    display: none; /* сначала невидим */
    position: fixed; /* фиксированное позиционирование, окно стабильно при прокрутке */
    border-radius: 15px;
}
.profileEditWin .main {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 500px;
}
#shadow {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1; /* поверх всех  кроме окна*/
    background: #000;
    opacity: 0.5; /*прозрачность*/
    left: 0;
    top: 0;
}

.profileEditWin input {
    margin-bottom: 20px;
}
.profileEditWin textarea {
    margin-bottom: 50px;
}
.edit_head_canvas {
    min-height: 200px;
    max-height: 300px;
    width: 100%;
    background-size: cover;
}
.edit_userpic {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    border: 3px solid black;
    background-size: cover;
    margin: 20px 0;
    background-position: center;
}

.profileEditWin button, h2 {
    margin: 20px 0;
}
.new_post_button button{

}
.wall {
    background-color: #fafafa;
}
.wall_nav {
    border-bottom: 1px solid gray;
    padding: 25px;
    background-color: white;
}

.newPostWin form .row {
    padding-top: 20px;
}
.newPostWin textarea {
    height: 200px;
}
.newPostWin .main button {
    margin-bottom: 20px;
}
.userpic_mini {
    height: 50px;
    width: 50px;
    background-size: cover;
    border-radius: 100px;
    background-position: center;
    border: 3px solid black;
}
.newPostReportWin button {
    margin: 20px 0 20px 0;
}
#commented-date {
    font-size: 24px;
    color: black;
}
#commented-text {
    font-size: 14px;
}
#commented-login {
    font-size: 24px;
    font-weight: bold;
}
.btn-outline-primary {
    font-weight: bold;
}